<footer class="footer">
    <span class="footer__copyright">&copy; {{date format="YYYY"}}. <img src="http://res.cloudinary.com/jardimsonoro/image/upload/v1428606837/foot_mijwx0.png"> Jardim Sonoro.</span>
</footer>
